@import "tailwindcss";

:root {
  --background: 358 99% 47%;
  --foreground: 0 0% 100%;

  --card: 0 0% 100%;
  --card-foreground: 7 82% 57%;

  --popover: 0 0% 100%;
  --popover-foreground: 7 82% 57%;

  --primary: 7 82% 57%;
  --primary-foreground: 0 0% 100%;

  --secondary: 40 100% 90%;
  --secondary-foreground: 7 82% 30%;

  --muted: 7 50% 45%;
  --muted-foreground: 0 0% 90%;

  --accent: 142 45% 55%;
  --accent-foreground: 0 0% 100%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 100%;

  --border: 0 0% 100%;
  --input: 0 0% 100%;
  --ring: 0 0% 100%;

  --radius: 2rem;

  --sidebar-background: 0 0% 98%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-primary: 240 5.9% 10%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}

.perspective-1000 {
  perspective: 1000px;
}
.transform-style-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-slide-right {
  animation: slide-right 25s linear infinite;
}

.animate-slide-left {
  animation: slide-left 25s linear infinite;
}

.animate-slide-right-slow {
  animation: slide-right 30s linear infinite;
}

.animate-slide-left-slow {
  animation: slide-left 30s5s linear infinite;
}

@theme inline {
  --font-imbue: var(--font-imbue);
  --font-fredoka: var(--font-fredoka);
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-fredoka);
}
